<!DOCTYPE html>
<html>

    <% if (current.path[0] == "opinie") { %>
        <title><%= titel %> | <%= auteur %></title>
        <meta property="og:url"                content="<%= url %>" />
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="<%= titel %>" />
        <meta property="og:description"        content="<%= abstract %>" />
        <meta property="og:image"              content="http://vektor.cc/img/fb_share_small.jpg" />
    <% }else if (current.path[0] == "teksten") { %>
        <title><%= titel %> | <%= auteur %></title>
        <meta property="og:url"                content="<%= url %>" />
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="<%= titel %> | <%= auteur %>" />
        <meta property="og:description"        content="<%= abstract %>" />
        <meta property="og:image"              content="http://vektor.cc/img/fb_share_small.jpg" />
    <% }else { %>
        <title>Vektor</title>
        <meta property="og:image"              content="http://vektor.cc/img/fb_share_small.jpg" />
    <% } %>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/toc.min.js"></script>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  </head>
  <body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/img/logoooo.svg" alt="logo" class="logo"/> <i>Vektor</i></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse pull-right" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li
        <% if (current.path[0] == "opinie") { %>
            class="active"
        <% } %>
        ><a href="/opinie/de-grote-parade">Opinie</a></li>
        <li
        <% if (current.path[1] == "badiou") { %>
            class="active"
        <% } %>
        ><a href="/teksten/badiou">Badiou</a></li>
      </ul>
    </div>
  </div>
</nav>
